*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
span{
    color: rgb(220, 220, 220);
}
.demoa{
    background: url(../image/top_banner5.png) no-repeat;
    height: 390px;
}
.demoa .nav{
    margin-top: 15px;
}
.demoa .nav h1{
    color: aliceblue;
}
.nav .nva_logo{
    width: 200px ; 
    /* background-color: brown; */
    /* vertical-align: middle; */
  
}
.nav .nav_list{
    
    margin-top: 10px;
}
.nav_list_borad{
    padding-bottom: 12px;
    border-bottom: 4px solid white; 
}
.nav .nav_list a{
    font-size: 20px;
    margin-left: 30px;
    color: aliceblue;
    text-decoration: none;
    /* background-color: red; */
    /* margin-left: 40px; */
}
.nav .login{
    /* background-color: forestgreen; */
    margin-left: 40px;
    border: 1px solid white;
    margin-top: 13px;
}   
.nav .login a{
    color: white;

}
.nav .nav_title{
    text-align: center;
    margin-top: 150px;
/* background-color: black; */
}
.nav .nav_title_item{
margin-top: 30px;
margin-left: 40px;
}
.nav .nav_title_item h5{
    color: white;
    line-height: 40px;
}
.nav .nav_title_login{
    width: 80px;
    text-align: center;
    margin-top: 50px;
    margin-left: 80px;
    color: rgb(220, 232, 245);
    box-shadow: 0px 0px 3px white;
}
/* 当前位置 */
.current_location{
    background-color: white;
}
.current_location p{
    width: 1200px;
    margin: 0 auto;
    margin-top: 12px;
}
/* 收费标准、下方内容 */
.democ{
    /* text-align: center; */
}
.democ .toll{
    margin-top: 55px;
    text-align: center;
}
.toll_lost_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* box-shadow: 0px 0px 3px white; */
    /* background-color: aquamarine; */
    
}
.toll_lost_li{
    border-top: 5px solid rgba(70, 142, 255, 1);
    border-left: 1px solid rgba(70, 142, 255, 1);
    border-right: 1px solid rgba(70, 142, 255, 1);
    border-bottom: 1px solid rgba(70, 142, 255, 1);
}
.toll_lost_lib{
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
}

.toll_lost_lib .Recharge{
    background: url(../image/111.png);
    width: 228px;
    height: 56px;
    padding-right: 95px;
    /* margin-left: 104px; */
}
.toll_lost_libc{
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
}
.toll_lost_libc .toll_lost_lib_textb{
    margin-top: 55px;
    margin-bottom: 58px;
    color: rgba(70, 142, 255, 1);
    line-height: 18px;
}
.toll_lost_libc .Rechargef {
    text-align: center;
    width: 228px;
    background: url(../image/111.png);
    line-height: 56px;
}
.toll_lost_lib_text{
    margin-top: 55px;
    margin-bottom: 58px;
    color: rgba(70, 142, 255, 1);
    line-height: 18px;
}
.toll_lost_img{
    text-align: center;
    margin-top: 25px;
}
.toll_lost_text{
    margin-top: 43.49px;
    margin-left: 20px;
    margin-right: 20px;
}
.toll_lost_text_a{
    width: 130px;
    height: 36px;
    background-color: rgba(70, 142, 255, 1);
    text-align: center;
    margin-left: 42px;
    margin-right: 41px;
    margin-top: 64.51px;
    margin-bottom: 24px;
    padding-top: 10px;
    color: white;
}
.toll_lost_text_a a{
    
    /* display: block; */
}
/* 底部 */
.bottom {
    background-color: rgb(34, 38, 61);
    color: rgb(169, 169, 172);
    margin-top: 292px;
}
.bottom .buttom_itema{
    margin-left: 64px;
    margin-top: 50px;
}
.bottom .buttom_itema .buttom_itema_title{
    color: azure;
    margin-left: 25px;
}
.bottom .buttom_itema .buttom_itema_titleb{
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(169, 169, 172);

}
.bottom .buttom_itema .buttom_itema_titlec{
    margin-left: 20px;
    color: rgb(169, 169, 172);
}
.bottom .buttom_itemb{
    margin-left: 280px;
    margin-top: 50px;
}
.bottom .buttom_itemc{
    float: right;
    margin-top: 20px;
    margin-left: 50px;
    width: 100px;
}
.bottom .buttom_logo{
    margin-top: 50px;
}